<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>Expansion panels - MaterialValues</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">
        <link href="../../css/base.css" rel="stylesheet">
        <link href="../../css/extra.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-86460261-1', 'aodevblue.github.io');
            ga('send', 'pageview');
        </script>
        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="../..">MaterialValues</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            
            
                <li >
                    <a href="../..">Home</a>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Style <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../../style/colors/">Colors</a>
</li>

                    
                        
<li >
    <a href="../../style/icons/">Icons</a>
</li>

                    
                        
<li >
    <a href="../../style/typography/">Typography</a>
</li>

                    
                    </ul>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Layout <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../../layout/keylines/">Metrics & keylines</a>
</li>

                    
                        
<li >
    <a href="../../layout/responsive_ui/">Responsive UI</a>
</li>

                    
                        
<li >
    <a href="../../layout/elevation/">Elevation</a>
</li>

                    
                    </ul>
                </li>
            
            
            
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Components <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../bottom_navigation/">Bottom navigation</a>
</li>

                    
                        
<li >
    <a href="../bottom_sheet/">Bottom sheet</a>
</li>

                    
                        
<li >
    <a href="../buttons/">Buttons</a>
</li>

                    
                        
<li >
    <a href="../card/">Cards</a>
</li>

                    
                        
<li >
    <a href="../chips/">Chips</a>
</li>

                    
                        
<li >
    <a href="../dialogs/">Dialogs</a>
</li>

                    
                        
<li >
    <a href="../dividers/">Dividers</a>
</li>

                    
                        
<li class="active">
    <a href="./">Expansion panels</a>
</li>

                    
                        
<li >
    <a href="../grid_lists/">Grid lists</a>
</li>

                    
                        
<li >
    <a href="../lists/">Lists</a>
</li>

                    
                        
<li >
    <a href="../menus/">Menus</a>
</li>

                    
                        
<li >
    <a href="../steppers/">Steppers</a>
</li>

                    
                        
<li >
    <a href="../subheaders/">Subheaders</a>
</li>

                    
                        
<li >
    <a href="../tooltips/">Tooltips</a>
</li>

                    
                    </ul>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../../about/changelog/">Changelog</a>
</li>

                    
                    </ul>
                </li>
            
            
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                <li >
                    <a rel="next" href="../dividers/">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li >
                    <a rel="prev" href="../grid_lists/">
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://github.com/AoDevBlue/MaterialValues">
                        
                            <i class="fa fa-github"></i>
                        
                        GitHub
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#expansion-panels">Expansion panels</a></li>
        
            <li><a href="#elevation">Elevation</a></li>
        
            <li><a href="#dimensions">Dimensions</a></li>
        
            <li><a href="#divider">Divider</a></li>
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<h1 id="expansion-panels">Expansion panels</h1>
<h2 id="elevation">Elevation</h2>
<p>The elevation is the same as the elements the expansion panel can connect with (typically, a card).</p>
<h2 id="dimensions">Dimensions</h2>
<p><img class="figure-large" src="../../images/components_expansionpanel.png" alt="Expansion panel dimensions"/></p>
<ol>
<li><code>@dimen/material_expansion_panel_padding_horizontal</code></li>
<li><code>@dimen/material_expansion_panel_expand_icon_size</code></li>
<li><code>@dimen/material_expansion_panel_expand_icon_margin_start</code></li>
<li><code>@dimen/material_expansion_list_collapsed_height</code></li>
<li><code>@dimen/material_expansion_panel_expanded_margin_vertical</code></li>
<li><code>@dimen/material_expansion_panel_expanded_header_height</code></li>
<li><code>@dimen/material_expansion_panel_expanded_content_area_padding_bottom</code></li>
<li><code>@dimen/material_expansion_panel_expanded_action_area_padding_top</code></li>
<li><code>@dimen/material_expansion_panel_expanded_action_area_button_height</code></li>
<li><code>@dimen/material_expansion_panel_expanded_action_area_padding_bottom</code></li>
<li><code>@dimen/material_expansion_panel_expanded_action_area_button_margin_end</code></li>
<li><code>@dimen/material_expansion_panel_label_text_size</code> and <code>@color/material_expansion_panel_label_text_color</code></li>
<li><code>@dimen/material_expansion_panel_label_secondary_content_text_size</code> and <code>@color/material_expansion_panel_label_secondary_content_text_color</code></li>
</ol>
<p>Note that action vertical padding (8. &amp; 10.) is splitted because the top padding takes the divider height into account.
It seems that a divider is always present in expansion panels, if it's not the case, use the bottom padding two times.</p>
<h2 id="divider">Divider</h2>
<p>See <a href="../dividers/">Dividers</a>.</p>
<hr />
<h4 id="see-also">See also</h4>
<ul>
<li>
<p><a href="https://github.com/AoDevBlue/MaterialValues/blob/master/material-values/src/main/res-component/values/expansion_panel.xml">Raw values</a></p>
</li>
<li>
<p><a href="https://material.google.com/components/expansion-panels.html">Expansion panels (Material design)</a></p>
</li>
</ul></div>
        </div>

        <footer class="col-md-12">
            <hr>
            
            <center>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</center>
        </footer>

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script>var base_url = '../..';</script>
        <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
        <script src="../../js/base.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            From here you can search these documents. Enter
                            your search terms below.
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                            </div>
                        </form>
                        <div id="mkdocs-search-results"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>