<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>Grid lists - MaterialValues</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">
        <link href="../../css/base.css" rel="stylesheet">
        <link href="../../css/extra.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-86460261-1', 'aodevblue.github.io');
            ga('send', 'pageview');
        </script>
        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="../..">MaterialValues</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            
            
                <li >
                    <a href="../..">Home</a>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Style <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../../style/colors/">Colors</a>
</li>

                    
                        
<li >
    <a href="../../style/icons/">Icons</a>
</li>

                    
                        
<li >
    <a href="../../style/typography/">Typography</a>
</li>

                    
                    </ul>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Layout <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../../layout/keylines/">Metrics & keylines</a>
</li>

                    
                        
<li >
    <a href="../../layout/responsive_ui/">Responsive UI</a>
</li>

                    
                        
<li >
    <a href="../../layout/elevation/">Elevation</a>
</li>

                    
                    </ul>
                </li>
            
            
            
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Components <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../bottom_navigation/">Bottom navigation</a>
</li>

                    
                        
<li >
    <a href="../bottom_sheet/">Bottom sheet</a>
</li>

                    
                        
<li >
    <a href="../buttons/">Buttons</a>
</li>

                    
                        
<li >
    <a href="../card/">Cards</a>
</li>

                    
                        
<li >
    <a href="../chips/">Chips</a>
</li>

                    
                        
<li >
    <a href="../dialogs/">Dialogs</a>
</li>

                    
                        
<li >
    <a href="../dividers/">Dividers</a>
</li>

                    
                        
<li >
    <a href="../expansion_panels/">Expansion panels</a>
</li>

                    
                        
<li class="active">
    <a href="./">Grid lists</a>
</li>

                    
                        
<li >
    <a href="../lists/">Lists</a>
</li>

                    
                        
<li >
    <a href="../menus/">Menus</a>
</li>

                    
                        
<li >
    <a href="../steppers/">Steppers</a>
</li>

                    
                        
<li >
    <a href="../subheaders/">Subheaders</a>
</li>

                    
                        
<li >
    <a href="../tooltips/">Tooltips</a>
</li>

                    
                    </ul>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../../about/changelog/">Changelog</a>
</li>

                    
                    </ul>
                </li>
            
            
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                <li >
                    <a rel="next" href="../expansion_panels/">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li >
                    <a rel="prev" href="../lists/">
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://github.com/AoDevBlue/MaterialValues">
                        
                            <i class="fa fa-github"></i>
                        
                        GitHub
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#grid-lists">Grid lists</a></li>
        
            <li><a href="#spacing">Spacing</a></li>
        
            <li><a href="#headers-and-footers">Headers and footers</a></li>
        
            <li><a href="#dimensions">Dimensions</a></li>
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<h1 id="grid-lists">Grid lists</h1>
<h2 id="spacing">Spacing</h2>
<table>
<thead>
<tr>
<th>Spacing</th>
<th>Resource</th>
</tr>
</thead>
<tbody>
<tr>
<td>Small</td>
<td><code>@dimen/material_grid_list_tile_spacing_small</code></td>
</tr>
<tr>
<td>Medium</td>
<td><code>@dimen/material_grid_list_tile_spacing_medium</code></td>
</tr>
</tbody>
</table>
<h2 id="headers-and-footers">Headers and footers</h2>
<h3 id="height">Height</h3>
<table>
<thead>
<tr>
<th>Type</th>
<th>Resource</th>
</tr>
</thead>
<tbody>
<tr>
<td>Single line</td>
<td><code>@dimen/material_grid_list_header_footer_single_line_height</code></td>
</tr>
<tr>
<td>Two-line</td>
<td><code>@dimen/material_grid_list_header_footer_two_line_height</code></td>
</tr>
</tbody>
</table>
<h3 id="text-size">Text size</h3>
<p>Two styles exist for headers and footers.</p>
<p>In the material design guidelines, they are referred to as the 16/12 and 14/14 styles.
In the following values, the 16/12 style is called "standard" and the 14/14 "alternative".</p>
<table>
<thead>
<tr>
<th>Value</th>
<th>Resource</th>
</tr>
</thead>
<tbody>
<tr>
<td>Title (Standard)</td>
<td><code>@dimen/material_grid_list_header_footer_title_text_size_standard</code></td>
</tr>
<tr>
<td>Title (Alternative)</td>
<td><code>@dimen/material_grid_list_header_footer_title_text_size_alternative</code></td>
</tr>
<tr>
<td>Subtitle (Standard)</td>
<td><code>@dimen/material_grid_list_header_footer_subtitle_text_size_standard</code></td>
</tr>
<tr>
<td>Subtitle (Alternative)</td>
<td><code>@dimen/material_grid_list_header_footer_subtitle_text_size_alternative</code></td>
</tr>
</tbody>
</table>
<h2 id="dimensions">Dimensions</h2>
<p><img class="figure-large" src="../../images/components_grid_list_footer_header.png" alt="Grid headers footers dimensions"/></p>
<ol>
<li><code>@dimen/material_grid_list_header_footer_text_area_margin_start</code></li>
<li><code>@dimen/material_grid_list_header_footer_text_area_margin_vertical</code></li>
<li><code>@dimen/material_grid_list_header_footer_icon_padding_horizontal</code></li>
<li><code>@dimen/material_grid_list_header_footer_icon_size</code></li>
<li><code>@dimen/material_grid_list_header_footer_text_area_margin_end_after_icon</code></li>
<li><code>@dimen/material_grid_list_header_footer_text_area_margin_end_alone</code></li>
</ol>
<hr />
<h4 id="see-also">See also</h4>
<ul>
<li>
<p><a href="https://github.com/AoDevBlue/MaterialValues/blob/master/material-values/src/main/res-component/values/grid_list.xml">Raw values</a></p>
</li>
<li>
<p><a href="https://material.google.com/components/grid-lists.html">Grid lists (Material design)</a></p>
</li>
</ul></div>
        </div>

        <footer class="col-md-12">
            <hr>
            
            <center>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</center>
        </footer>

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script>var base_url = '../..';</script>
        <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
        <script src="../../js/base.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            From here you can search these documents. Enter
                            your search terms below.
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                            </div>
                        </form>
                        <div id="mkdocs-search-results"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>